<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/sass/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Modak&family=Montserrat:wght@200;300;400;600&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <main class="section-main">
        <div>
            <div class="main__logo--box">JK</div>
            <logo class="main__logo">JKBANK</logo>
        </div>
        <div class="main">
            <div class="main__heading">
                <h2 class="main__heading--primary">JKBANK</h2>
                <p class="main__heading--secondary">Investing in knowledge and your future
                </p>
                <a href="/accounts" class="main__heading--link">Learn More</a>
            </div>

        </div>
    </main>
</body>

</html>